<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.application.kreditimpian">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconapps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconapps"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".FormPengajuan.UpgradeImpian.PilihLeasingActivity"></activity>
        <activity android:name=".TransactionProcess.TransactionCheckout" />
        <activity android:name=".TransactionProcess.TransactionSelectTenor" />
        <activity android:name=".TransactionProcess.TransactionSelectMitra" />
        <activity android:name=".Akun.DetailAlamat" />
        <activity android:name=".Akun.AlamatPengiriman" />
        <activity android:name=".DetailHistoryPesanan" />
        <activity android:name=".FormPengajuan.UpgradeImpian.UpgradeImpian" /> <!-- <activity android:name=".CartCheckout.Cart" /> -->
        <activity android:name=".DetailProduct" />
        <activity android:name=".TransactionProcess.Cart" />
        <activity android:name=".LoginRegister.SmsOTPRegister" />
        <activity android:name=".Marketplace.FragSemuaKategori.DetailSemuaKategori" />
        <activity android:name=".Mitra.DetailMitra" />
        <activity android:name=".Adapter.AdapterMitra" />
        <activity android:name=".Mitra.ListMitra" />
        <activity android:name=".FormPengajuan.StepUploadProduct" />
        <activity
            android:name=".SplashScreenDepan"
            android:theme="@style/NoActionbar" />
        <activity android:name=".FormPengajuan.StepIsiCariProduct" />
        <activity android:name=".FormPengajuan.StepFotoProduct" />
        <activity android:name=".FormPengajuan.UploadGambar" />
        <activity android:name=".FormPengajuan.CaptureGambar" />
        <activity
            android:name=".FormPengajuan.SuccessMengajukan"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Beranda.SemuaKategori"
            android:theme="@style/NoActionbar" />
        <activity android:name=".Adapter.AdapterPromo" />
        <activity android:name=".MainActivity" />
        <activity android:name=".GantidanRisetPassword.GantiPassword" />
        <activity android:name=".KonfirmasiPembayaran.KonfirmasiPembayaran" />
        <activity android:name=".Favorite.Favorite" />
        <activity android:name=".HistoryPesanan.HistoryPesanan" />
        <activity android:name=".StatusPesanan.StatusPesanan" />
        <activity android:name=".Akun.UploadDokumenPendukung" />
        <activity android:name=".Akun.DataSaudara" />
        <activity android:name=".Akun.AlamatKantor" />
        <activity android:name=".Akun.TambahAlamatPengiriman" />
        <activity android:name=".Akun.DataDiri" />
        <activity android:name=".Akun.DetailAkun" />
        <activity android:name=".MenuUtama.MenuUtama" />
        <activity
            android:name=".LoginRegister.LoginUser"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".LoginRegister.Register"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".WelcomSplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>