<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.application.kreditimpian">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconapps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconapps"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".DetailProduct"></activity>
        <activity android:name=".TransactionProcess.Cart" />
        <activity android:name=".LoginRegister.SmsOTPRegister" />
        <activity android:name=".FragSemuaKategori.DetailSemuaKategori" />
        <activity android:name=".Mitra.DetailMitra" />
        <activity android:name=".Adapter.AdapterMitra" />
        <activity android:name=".Mitra.ListMitra" />
        <activity
            android:name=".FormPengajuan.StepUploadProduct"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".SplashScreenDepan"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".FormPengajuan.StepIsiCariProduct"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".FormPengajuan.StepFotoProduct"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".FormPengajuan.UploadGambar"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".FormPengajuan.CaptureGambar"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".FormPengajuan.SuccessMengajukan"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Beranda.SemuaKategori"
            android:theme="@style/NoActionbar" />
        <activity android:name=".Adapter.AdapterPromo" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".GantidanRisetPassword.GantiPassword"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".KonfirmasiPembayaran.KonfirmasiPembayaran"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Favorite.Favorite"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".HistoryPesanan.HistoryPesanan"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".StatusPesanan.StatusPesanan"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Akun.UploadDokumenPendukung"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Akun.DataSaudara"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Akun.AlamatKantor"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Akun.AlamatPengiriman"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Akun.DataDiri"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Akun.DetailAkun"
            android:theme="@style/NoActionbar" />
        <activity android:name=".MenuUtama.MenuUtama" />
        <activity
            android:name=".LoginRegister.LoginUser"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".LoginRegister.Register"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".WelcomSplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>